.login-container {
    width: 300px;
    margin: 10vh auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--background-color-shadow);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--background-color-hover);
    color: var(--text-color);
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: var(--button-hover-color);
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .signup-link a:hover {
    color: var(--button-cancel-hover-color);
    text-decoration: underline;
  }

 /* Existing styles remain the same */

.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.93); /* Semi-transparent black background */
    z-index: 999; /* Ensure it appears behind the popup but above everything else */
  }
  
  .confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--background-color-shadow);
    border-radius: 10px;
    text-align: center;
    z-index: 1000; /* Ensure it appears above the overlay */
  }
  
  .confirmation-popup h3 {
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .resend-button, .cancel-button {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .resend-button:hover, .cancel-button:hover {
    background-color: var(--button-cancel-hover-color);
  }
  
  .cancel-button {
    background-color: var(--button-cancel-hover-color);
  }
  
  .cancel-button:hover {
    background-color: var(--button-cancel-hover-color);
  }
  
  .error-message {
    color: var(--secondary-color);
    margin-top: 10px;
    font-weight: bold;
  }
  