
  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
  }
  
  section {
    padding: 60px 20px;
    text-align: center;
  }
  
  h1, h2 {
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Hero Section */
  .hero {
    background-color: var(--primary-color);
    color: white;
    padding: 100px 20px;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
    
  }

  .hero-content h1,h2 {
    color: var(--background-color);
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: white;
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: var(--button-hover-color);
    color: white;
  }
  
  /* About Section */
  .about {
    font-size: 22px;
    color: var(--text-color);
  }

  .about h1,h2 {
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  /* Features Section */
  .features-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .feature-item {
    flex-basis: 20%;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--background-color-shadow);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .feature-item h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--primary-color);
  }
  
  /* Testimonials Section */
  .testimonials-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .testimonial-item {
    flex-basis: 30%;
    padding: 20px;
    background-color: var(--background-color-hover);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--background-color-shadow);
    margin: 10px;
  }

  .testimonials h2 {
    margin-bottom: 10px;
    color: var(--text-color);
  }

  .testimonial-item p {
    font-style: italic;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  /* Footer */
  .footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  